.flex
  display: flex
.flex-col
  flex-direction column
.flex-row-reverse
  flex-direction row-reverse
.flex-col-reverse
  flex-direction column-reverse
.flex-js-fs
  justify-content flex-start
.flex-js-fe
  justify-content flex-end
.flex-js-center
  justify-content center
.flex-js-sb
  justify-content space-between
.flex-js-sa
  justify-content space-around
.flex-ai-fs
  align-items flex-start
.flex-ai-fe
  align-items flex-end
.flex-ai-center
  align-items center
.flex-ai-sb
  align-items space-between
.flex-ai-sa
  align-items space-around